
body {
    background-image: url(../images/yuen_background/213-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.welcome-message {
    z-index: 100;
    position: absolute;
    width: 70%;
    
    background-color: rgba(0, 0, 0, 0.6);
    
    /* border: solid;
    border-color: white;
    border-width: 1px; */

    max-width: 800px;
    min-width: 400px;

    flex-shrink: none;

    opacity: 0; 
    animation: fadeIn 1s ease-out forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.welcome-message h2 {
    color: white;
}

.welcome-message p {
    color: white;
    font-size: 15px;
}

.welcome-message p, h2 {
    font-family: Noto Serif JP;
}