
body {
    background-image: url(../images/yuen_background/213-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.main-container {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-logo {
    width: auto;
    max-width: 550px;
    height: auto;
    max-height: 500px;
    flex-shrink: 0;
    
    opacity: 0; 
    animation: fadeIn 3s ease-out forwards;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}






