
body {
    background-image: url(../images/yuen_background/194.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* grid */ 

.info-box {
    font-family: Noto Serif JP;
}

@media (min-width:500px) {
    .info-box {

        margin-top: 400px;
        display: grid;
        font-size: 12px;
        grid-template-rows: 50px auto auto 10px;
        grid-template-columns: 250px 250px;
        grid-template-areas: 
            'location contact'
            'address email'
            'address phone'
            'address instagram';
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        justify-content: center;
        align-items: center;
    }
    

}

@media (max-width:499px){
    .info-box {

        margin-top: 400px;
        display: grid;
        font-size: 10px;
        grid-template-rows: 50px auto auto 10px;
        grid-template-columns: 150px 150px;
        grid-template-areas: 
            'location contact'
            'address email'
            'address phone'
            'address instagram';
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        justify-content: center;
        align-items: center;
    }
}


.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    grid-area: location;
}

.item2 {
    grid-area: contact;
}

.item3 {
    grid-area: address;
    max-width: 100%;
    padding: 10px;
    overflow-wrap: break-word;
}

.item4 {
    grid-area: email;
}

.item5 {
    grid-area: phone;
}