/* * {
    margin: 0;
    padding: 0;
} */

/* html, body {
    overflow: hidden;
    background-color: black;
} */


.navbar {
    position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10; 
}

.navbar a{
    text-decoration: none;
}

.navbar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.navbar-top a {
    
    text-decoration: none;
    color: white;
    padding: 10px;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-top: 20px;
    font-family: Noto Serif JP;
}

.navbar-top a:nth-child(1) {
    margin-bottom: 20px;
}


.navbar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}



.navbar a:hover {
    /* color: #101010; */
    color: #956d00;
}

.navbar-bottom a { 
    color: white;
    margin: 10px;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-bottom: 50px;
    font-family: Noto Serif JP;
}





@media (min-width:601px){
    .toggle-btn, .menu-toggle, .toggle-menu{
        display: none;
    }
}

@media (max-width:600px) {
    .navbar {
        display: none;
    }

    .toggle-btn {
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 30;
        cursor: pointer;
    }
    
    .material-symbols-outlined {
        color: white;
    
    
    }
    
    .toggle-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9); /* Adjust background color and opacity */
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        z-index: 20;
    }
    
    .menu-toggle {
        display: none;
    }
    
    .menu-toggle:checked + .toggle-btn + .toggle-menu {
        transform: translateY(0);
    }
    
    .links {
        list-style: none;
        padding: 0;
        text-align: center;
    }
    
    .links li {
        margin-bottom: 20px;
    }
    
    .links a {
        text-decoration: none;
        color: white;
        font-size: 22px;
        font-family: Noto Serif JP;
    }
    

}


